
h2 {
    font-size: 10px;
    
}

p {
    font-size: 15px;
}

/* 1. Nav */

/* #main-header {
    position: sticky;
} */

header nav {
    height: 67px;
}

#hero-con {
    height: 534px;
    background-color: #E6E4E4;
    padding-top: 0;
}


#catchphrase {
    height: 22px;
    text-align: center;
    margin-top: 60px;
    grid-row: 1/3;
}

#hero-button {
    height: 22px;
    margin-top: 110px;
    grid-row: 1/3;
}

#nav {
    grid-row: 1/2;
}

#logo {
    height: 76px;
    grid-row: 1/2;
    margin-top: 20px;
    margin-bottom: -21px;
}

#herotext {
    text-align: center;
}

#burger-con {
    height: 54px;
    grid-row: 1/2;
}



#main-header {
    
    background-color: grey;
}



/* 3. Section 1 */

#section1 {
    background-color: white;
    /* height: 845px; */
    margin-top: 0;
    margin-bottom: 10px;
    
}

#section1-text {
    height: 21px;
}

#gal1, #gal2, #gal3 {
    height: 129px;
}



#gal2, #gal3 {
    grid-row: 2/3;
}


/* 4. Section 2 */

#section2 {
    background-color: #CBCBCB;
    margin-top: 0;
    padding-bottom: 10px;
}

#section2-text {
    height: 105px;
}

#photo1, #photo2 {
    height: 171px;
}

#section2-button {
    height: 27px;
}

/* 5. Section 3 */

#section3 {
    background-color: white;
    padding-bottom: 10px;
}

#section3-text {
    height: 66px;
}

#video {
    height: 250px;
}


/* 6. Section 4 */

#section4 {
    background-color: #CBCBCB;
    padding-bottom: 10px;
}

#section4-text {
    height: 53px;
}

#section4-button {
    height: 26px;
}

#team1, #team2 {
    height: 290px;
}



/* 7. Section 5 */

#section5 {
    background-color: white;
    padding-bottom: 10px;
}

#section5-text {
    height: 35px;
}

#store1, #store2, #store3, #store4 {
    height: 65px;
}


/* 8. Section 6 */

#section6 {
    background-color: #CBCBCB;
    padding-bottom: 20px;
}   

#section6-text {
    height: 50px;
}

#review {
    height: 84px;
}

#section6-button {
    height: 21px;
}

/* Footer */

#footer-nav {
    background-color: #888888;
    height: 134px;
}

#footer-logo {
    height: 67px;
}

@media screen and (max-width: 767px) {
   
    #p1, #p2, #p3 {
        
        display: none;
    }
    

    #photo3 {
        display: none;
    }

    #photo4 {
        display: none;
    } 

    #section3-p {
        display: none;
    }
}

@media screen and (min-width:768px) {
    #hero-con {
        height: 834px;
    }

    #nav {
        text-align: left;
       }

    /* Section 1 */

    #gal1, #gal2, #gal3 {
        height: 220px;
    }

    #p1, #p2, #p3 {
        height: 63px;
    }

    /* Section 2 */

    #photo1 {
        grid-row: 1/2;
    }

    #photo1, #photo2, #photo3, #photo4 {
        height: 250px;
    }

    #section2-text {
        grid-row: 1/2;
        
    }

    #section2-button {
        grid-row: 1/2;
        margin-top: 130px;
    }

   /* Section 3 */

    #video {
        grid-row: 1/2;
        height: 240px;
    }

    #section3-text {
        grid-row: 1/2;
        height: 30px;
    }

    #section3-p {
        grid-row: 1/2;
        height: 60px;
        margin-top: 65px;
    }

    /* Section 4 */

    #section4-text {
        grid-row: 1/2;
        height: 60px;
    }

    #team1, #team2 {
        grid-row: 1/2;
        height: 280px;
    }

    #section4-button {
        grid-row: 1/2;
        height: 26px;
        margin-top: 80px;
    }

    /* Section 5 */

    #section5-text {
        height: 43px;
    }

    #store1, #store2, #store3, #store4 {
        height: 71px;
    }

    /* Section 6 */

    #section6-text {
        height: 60px;
    }

    #review {
        height: 83px;
    }

    #section6-button {
        height: 24px;
    }

    /* Footer */

    #footer-nav {
        background-color: #888888;
    }

}

@media screen and (min-width:1200px) {
   #burger-con {
    display: none;
   }

   #main-header {
    position: sticky;
    top: 0;
   }

   #nav {
    text-align: left;
   }
}